@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 13px;
}

body, html{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 81%);
}

div{
    width: 100%;
    border-radius: 10px;
}

#container > div:hover{
    cursor: no-drop;
    box-shadow: 5px 5px 10px 0px lightslategray;
    
    
}

h2{
    width: 100%;

    text-align: left;
    margin: 10px 0px;
    font-size: 1.5rem;

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

p{  
    width: 100%;

    font-size: 1rem;
    text-align: justify;

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;


}
.comment-img{
    display: flex;
}
.comment-img img{
    margin-right: 5px;
    border-radius: 50%;
}

strong{
    color: white;
}

span{
    font-size: 0.8rem;
}


#container{
    width: 85vw;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*-----------DANIEL ITEM----------*/

.comment-daniel{
    padding: 20px;

    grid-column-start: 1;
    grid-column-end: 3;

    background-image: url(images/bg-pattern-quotation.svg);
    background-position: right 80px top;
    background-repeat: no-repeat;
    background-color: hsl(263, 55%, 52%);
    box-shadow: 5px 5px 10px 0px black;

}

.comment-daniel h2{
    color: white;
}

.comment-daniel p{
    color: hsl(263, 55%, 70%);
}

/*------------------------------------------*/

/*-----------JONATHAN ITEM----------*/

.comment-jonathan{
    padding: 20px;

    grid-column-start: 3;
    grid-column-end: 4;

    background-color: hsl(217, 19%, 35%);
    box-shadow: 5px 5px 10px 0px black;
}

.comment-jonathan h2{
    color: white;
}

.comment-jonathan p{
    color: hsl(217, 19%, 70%);
}

/*------------------------------------------*/

/*-----------KIRA ITEM----------*/

.comment-kira{
    padding: 20px;

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;

    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 10px 0px black;
}

.comment-kira h2{
    color: hsl(217, 19%, 35%);
}

.comment-kira p{
    color: hsl(217, 19%, 35%);
}

.comment-kira strong{
    color: hsl(217, 19%, 35%);
}
.comment-kira span{
    color: hsl(217, 19%, 35%);
}
/*------------------------------------------*/

/*-----------JEANETTE ITEM----------*/

.comment-jeanette{
    padding: 20px;

    grid-column-start: 1;
    grid-column-end: 2;

    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 10px 0px black;

}

.comment-jeanette h2{
    color: hsl(217, 19%, 35%);
}

.comment-jeanette p{
    color: hsl(217, 19%, 35%);
}

.comment-jeanette strong{
    color: hsl(217, 19%, 35%);
}

/*------------------------------------------*/

/*-----------PATRICK ITEM----------*/

.comment-patrick{
    padding: 20px;

    grid-column-start: 2;
    grid-column-end: 4;
    
    background-color: hsl(219, 29%, 14%);
    box-shadow: 5px 5px 10px 0px black;
}

.comment-patrick h2{
    color: hsl(0, 0%, 100%);
}

.comment-patrick p{
    color: hsl(219, 29%, 70%);
}

/*------------------------------------------*/
/*------------------------------------------*/